// *************************************
//
//   Helpers
//   -> Extends, Functions, Mixins, Animations
//
// *************************************

// -------------------------------------
//   Extends
// -------------------------------------


// -------------------------------------
//   Functions
// -------------------------------------


// -------------------------------------
//   Mixins
// -------------------------------------
@mixin clearfix {
  zoom: 1;
  &:after {
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
		content: ".";
		font-size: 0;
		line-height: 0;
  }
}
@mixin contentWidth {
	width: 1010px;
	margin: 0 auto;
}
@mixin listMaker {
	position: relative;
	@include inline-block;
	border-radius: 7px;
	width: 14px;
	margin-right: 5px;
	font-size: 10px;
	color: #ffffff;
	text-align: center;
	vertical-align: text-top;
	background-color: #666666;
}

// -------------------------------------
//   Animations
// -------------------------------------

