// *************************************
//
//   nav
//   -> This is an nav
//
// *************************************

.primaryNav {
	@include gradient(#ffb3b3, #fda6a6);
}

.nav {
	@include bindContainer();
	height: 32px;
	letter-spacing: -6px;
}

.nav-item {
	display: inline-block;
	height: 100%;
	line-height: 32px;
}

.nav-item > a {
	color: #fff;
	display: block;
	padding: 0 15px 0 15px;
	border-left: #FB8D8D solid 1px;
	border-right: #FECFCF solid 1px;
	letter-spacing: normal;
}

.nav-item:first-child > a {
	border-left: #FECFCF solid 1px;
	border-right: #FECFCF solid 1px;
}

.nav-item:last-child > a {
	border-left: #FB8D8D solid 1px;
	border-right: #FB8D8D solid 1px;
}

