// *************************************
//
//   top
//   -> This is an top
//
// *************************************

/*******************
gallery
*******************/

.gallery {
	width: 668px;
	border: 1px solid #E2E2E2;
	border-bottom: 3px solid #EAEAEA;
}

.gallery-mainImage {
	display: block;
	margin: 10px auto;
}

/*******************
topics
*******************/

.topics {
	font-weight: bold;
}

%topics-item {
	position: relative;
	@include inline-block;
	width: 323px;
	padding: 10px 0;
	border-bottom: #E5E5E5 dotted 1px;
}

.topics-item--odd,
.topics-item--even  {
	@extend %topics-item;
}

.topics-item--even,{
	margin-left: 20px;
}


.topics-item-label {
	width: 70px;
	margin-bottom: 10px;
}

.topics-item-Caption {

}

.topics-item-hasImageLink {
	display: block;
	position: absolute;
	top: 18px;
	right: 12px;
	width: 60px;
	height: 60px;
	border: 3px solid #E5E5E5;
}


/*******************
fashionSnap
*******************/

.fashionSnap {
	position: relative;
	margin-top: 10px;
	background-color: #F5F5EF;
	border: 1px solid #E2E2E2;
	@include border-radius(5px, 5px);
}

.fashionSnap-heading {
	padding: 10px 5px 0 17px;
}

.fashionSnap-toList {
	position: absolute;
	top: 0;
	right: 18px;
}

.fashionSnap-wrap {
	padding: 10px 10px 17px 17px;
}

.fashionSnap-item {
	@include inline-block;
	margin-right: 8px;
	width: 115px;
	height: 170px;
	border: 1px solid #E2E2E2;
}

.fashionSnap-item--last {
	@extend .fashionSnap-item;
}

.fashionSnap-item > a,
.fashionSnap-item > a >img {
	display: block;
}

.fashionSnap-item > a >img {
	margin: 5px auto;
}

/*******************
roundUpNaver
*******************/

.roundUpNaver {
	margin-top: 20px;
}

.roundUpNaver-heading {
	border-bottom: #BAAF9A solid 3px;
}

.roundUpNaver-wrap {
	font-weight: bold;
}

%roundUpNaver-item {
	position: relative;
	@include inline-block;
	width: 323px;
	height: 65px;
	padding: 10px 0;
	border-bottom: #E5E5E5 dotted 1px;
}

.roundUpNaver-item--odd,
.roundUpNaver-item--even  {
	@extend %roundUpNaver-item;
}

.roundUpNaver-item--even,{
	margin-left: 20px;
}

.roundUpNaver-item-caption {
	width: 225px;
}

.roundUpNaver-item-hasImageLink {
	display: block;
	position: absolute;
	top: 10px;
	right: 12px;
	width: 60px;
	height: 60px;
	border: 3px solid #E5E5E5;
}

.roundUpNaver-toList {
	text-align: right;
}

/*******************
accessRanking
*******************/

.accessRanking-heading {
	border-bottom: #BAAF9A solid 3px;
}

.accessRanking-wrap {
	padding-top: 10px;
}

.accessRanking-item {
	padding: 5px;
	border-bottom: #CCC dotted 1px;
}

%incrNum {
	@include inline-block;
	height: 15px;
	width: 15px;
	text-align: center;
	font-size: 85%;
	color: #fff;
	@include border-radius(10px, 10px);
}

@for $i from 1 through 10 {
	.incrNum--#{$i}:before {
		@extend %incrNum;
		content: "#{$i}";
		@if $i < 4 {
			background-color: #FF6666;
		} @else {
			background-color: #666666;
		}
	}
}


