// *************************************
//
//   Content
//   -> Typography
//
// *************************************


// -------------------------------------
//   Typography
// -------------------------------------

%c-xSmall, .c-xSmall {
	@include fontsize(11px);
}

%c-small, .c-small {
	@include fontsize(12px);
}

%c-normal, .c-normal {
	@include fontsize(13px);
}

%c-large, .c-large {
	@include fontsize(14px);
}

%c-xLarge, .c-xLarge {
	@include fontsize(15px);
}

%c-bolder, .c-bolder {
	font-weight: bold;
}

%c-linkClear, .c-linkClear{
	&:link , &:visited {
		color: #333;
	}
	&:hover, &:active {
		color: $base-link-color;
		text-decoration: none;
	}
}
