// *************************************
//
//   Module
//   -> This is an list module
//
// *************************************

// -------------------------------------
//   Modules
// -------------------------------------

@for $i from 1 through 10 {
	.numbering--#{$i}:before {
		content: "#{$i}";
		display: inline-block;
		width: 15px;
		margin-right: 10px;
		line-height: 15px;
		border-radius: 15px;
		text-align: center;
		color: #fff;
		@if $i < 4 {
			background-color: #F85656;
		} @else {
			background-color: #666666;
		}
		@extend %c-xSmall;
	}
}


// -------------------------------------
//   Modifiers
// -------------------------------------


// -------------------------------------
//   States
// -------------------------------------


// -------------------------------------
//   Submodules
// -------------------------------------

