// *************************************
//
//   Lebel Module
//   -> This is an Lebel module
//
// *************************************

// -------------------------------------
//   label
// -------------------------------------

/********************
variable
********************/

//set background color category label 
$classNamesConfig:((beauty,#93CF5D) ,(love,#FF4343) ,(lifeStyle,#53C8E1) ,(culture,#FFC62B));

/********************
structure
********************/

%labels {
	display: block;
	text-align: center;
	font-size: 12px;
	line-height: 1.6;
	color: #FFF;
	font-weight: bold;
}

/*category*/
@each $classNames in $classNamesConfig {
	$hashNames: nth($classNames, 1);
	$colorNames: nth($classNames, 2);
	.label--#{$hashNames} {
		@extend %labels;
		background-color: $colorNames;
	}
}


