// *************************************
//
//   Module
//   -> This is an example module
//
// *************************************

.nav {
	overflow: hidden;
	@extend %l-autoHeight;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.nav--backgroundColor {

}

// -------------------------------------
//   States
// -------------------------------------

.is-nav-current {
	background: #ff6666;
	background: -moz-linear-gradient(top,  #ff6666 0%, #f85353 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6666), color-stop(100%,#f85353));
	background: -webkit-linear-gradient(top,  #ff6666 0%,#f85353 100%);
	background: -o-linear-gradient(top,  #ff6666 0%,#f85353 100%);
	background: -ms-linear-gradient(top,  #ff6666 0%,#f85353 100%);
	background: linear-gradient(to bottom,  #ff6666 0%,#f85353 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6666', endColorstr='#f85353',GradientType=0 );
}

// -------------------------------------
//   Context
// -------------------------------------

.has-nav {

}

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

.nav-item {
	@extend %l-pullLeft;
	@extend %l-autoHeight;
	padding: 0 10px;
	line-height: 50px;
}

