article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  color: #000;
  font-size: 62.5%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

pre, code, kbd, samp, tt {
  font-family: monospace;
  line-height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  font: 100%;
}

.mainContainer:after {
  clear: both;
  content: '';
  display: table;
}

html {
  background-color: #f3f2ec;
}

body {
  height: 100%;
  color: #222222;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

a {
  color: #0099cc;
  text-decoration: none;
}
a:hover, a:focus {
  color: #006080;
  text-decoration: underline;
}

img {
  vertical-align: bottom;
}

.footer {
  background-color: #D7D4CD;
  color: #9C886D;
}

.footer-wrap {
  width: 1010px;
  margin: 0 auto;
  padding: 20px 0;
}

.header {
  border-top: 2px solid #FF7979;
  background-color: #fff;
}

.header-wrap {
  width: 1010px;
  margin: 0 auto;
  padding: 10px 0;
}

.header-title {
  font-size: 169.23077%;
}

.primaryNav {
  background-color: #FEAFAF;
  border-top: 1px solid #e5e5e5;
}

.primaryNav-list {
  width: 1010px;
  margin: 0 auto;
  border-left: 1px solid #fb8d8d;
}

.primaryNav-list-item, .primaryNav-list-item--select, .primaryNav-list-item--lastItem {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.primaryNav-list-item a, .primaryNav-list-item--select a, .primaryNav-list-item--lastItem a {
  display: block;
  padding: 0 15px;
  border-right: 1px solid #fb8d8d;
  border-left: 1px solid #fecfcf;
  line-height: 32px;
  color: #fff;
}
.primaryNav-list-item a:hover, .primaryNav-list-item--select a:hover, .primaryNav-list-item--lastItem a:hover {
  background-color: #FC9090;
  text-decoration: none;
}

.primaryNav-list-item--select {
  background-color: #F85656;
}

.primaryNav-list-item--lastItem {
  border-right: 1px solid #fecfcf;
}

.mainContainer {
  width: 980px;
  margin: 0 auto;
  padding: 15px;
  background-color: #fff;
}

.mainColumn {
  float: left;
  width: 660px;
}

.subColumn {
  float: right;
  width: 300px;
}

.primaryNav-list-item a, .primaryNav-list-item--select a, .primaryNav-list-item--lastItem a, .l-center {
  text-align: center;
}

.l-right {
  text-align: right;
}

.l-left {
  text-align: left;
}

.l-shout {
  text-transform: uppercase;
}

.l-sideSpace {
  margin: 0 10px;
}

.l-harfSpace {
  margin-bottom: 10px;
}

.snapWrap, .bannerBox, .l-space {
  margin-bottom: 20px;
}

.numbering--1:before, .numbering--2:before, .numbering--3:before, .numbering--4:before, .numbering--5:before, .numbering--6:before, .numbering--7:before, .numbering--8:before, .numbering--9:before, .numbering--10:before, .c-xSmall {
  font-size: 84.61538%;
}

.label, .label--health, .label--love, .label--fresh, .c-small {
  font-size: 92.30769%;
}

.c-normal {
  font-size: 100%;
}

.c-large {
  font-size: 107.69231%;
}

.c-xLarge {
  font-size: 115.38462%;
}

.header-title, .label, .label--health, .label--love, .label--fresh, .c-bolder {
  font-weight: bold;
}

.listLinkTitle:link, .listLinkTitle:visited, .c-linkClear:link, .c-linkClear:visited {
  color: #333;
}
.listLinkTitle:hover, .listLinkTitle:active, .c-linkClear:hover, .c-linkClear:active {
  color: #0099cc;
  text-decoration: none;
}

.subTitle {
  margin-bottom: 10px;
  padding: 0 10px 5px;
  border-bottom: #BAAF9A solid 3px;
  color: #333;
  font-weight: bold;
  font-size: 115.38462%;
}

.listLinkTitle {
  font-weight: bold;
  font-size: 115.38462%;
}

.list {
  padding: 5px 0;
  border-bottom: 1px solid #e5e5e5;
}

.parallelList2 {
  width: 322.5px;
  margin-right: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.parallelList3 {
  width: 210px;
  margin-right: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.parallelList5, .snapWrap-item {
  margin-left: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.parallelList5:first-child, .snapWrap-item:first-child {
  margin-left: 0;
}

.inlineList {
  display: inline;
  margin-left: 10px;
}
.inlineList:first-child {
  margin-left: 0;
}

.parallelList2--flap {
  width: 322.5px;
  margin-right: 0;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.parallelList3--flap {
  width: 210px;
  margin-right: 0;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.parallelList2-text {
  width: 246.5px;
  padding-right: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.parallelList2-thumb, .parallelList3-thumb {
  border: 3px solid #e5e5e5;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.parallelList3-text {
  width: 134px;
  padding-right: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.label, .label--health, .label--love, .label--fresh {
  display: block;
  width: 70px;
  margin-bottom: 10px;
  line-height: 1.6;
  text-align: center;
  color: #FFF;
}

.label--health {
  background-color: #93CF5D;
}

.label--love {
  background-color: #FF4343;
}

.label--fresh {
  background-color: #53C8E1;
}

.numbering--1:before {
  content: "1";
  display: inline-block;
  width: 15px;
  margin-right: 10px;
  line-height: 15px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background-color: #F85656;
}

.numbering--2:before {
  content: "2";
  display: inline-block;
  width: 15px;
  margin-right: 10px;
  line-height: 15px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background-color: #F85656;
}

.numbering--3:before {
  content: "3";
  display: inline-block;
  width: 15px;
  margin-right: 10px;
  line-height: 15px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background-color: #F85656;
}

.numbering--4:before {
  content: "4";
  display: inline-block;
  width: 15px;
  margin-right: 10px;
  line-height: 15px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background-color: #666666;
}

.numbering--5:before {
  content: "5";
  display: inline-block;
  width: 15px;
  margin-right: 10px;
  line-height: 15px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background-color: #666666;
}

.numbering--6:before {
  content: "6";
  display: inline-block;
  width: 15px;
  margin-right: 10px;
  line-height: 15px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background-color: #666666;
}

.numbering--7:before {
  content: "7";
  display: inline-block;
  width: 15px;
  margin-right: 10px;
  line-height: 15px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background-color: #666666;
}

.numbering--8:before {
  content: "8";
  display: inline-block;
  width: 15px;
  margin-right: 10px;
  line-height: 15px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background-color: #666666;
}

.numbering--9:before {
  content: "9";
  display: inline-block;
  width: 15px;
  margin-right: 10px;
  line-height: 15px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background-color: #666666;
}

.numbering--10:before {
  content: "10";
  display: inline-block;
  width: 15px;
  margin-right: 10px;
  line-height: 15px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  background-color: #666666;
}

#j-slider {
  position: relative;
  height: 330px;
  overflow: hidden;
}

#j-slider-gallery {
  position: absolute;
  top: 0;
  left: 0;
}

#j-slider-gallery > li {
  float: left;
  width: 400px;
  text-align: center;
}

.snapWrap {
  padding: 10px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.snapWrap-item {
  padding: 5px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.bannerBox {
  height: 100px;
  border: 1px solid #FF7979;
  text-align: center;
  background-color: #FCC9C9;
}
