@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/Users\/SDP5018\/git\/improve-condition\/watanabe\/scss\/modules\/navigation\.scss}line{font-family:\000038}}
.nav {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/Users\/SDP5018\/git\/improve-condition\/watanabe\/scss\/modules\/navigation\.scss}line{font-family:\0000325}}
.is-nav-current {
  background: #ff6666;
  background: -moz-linear-gradient(top, #ff6666 0%, #f85353 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6666), color-stop(100%, #f85353));
  background: -webkit-linear-gradient(top, #ff6666 0%, #f85353 100%);
  background: -o-linear-gradient(top, #ff6666 0%, #f85353 100%);
  background: -ms-linear-gradient(top, #ff6666 0%, #f85353 100%);
  background: linear-gradient(to bottom, #ff6666 0%, #f85353 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6666', endColorstr='#f85353',GradientType=0 );
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/Users\/SDP5018\/git\/improve-condition\/watanabe\/scss\/modules\/navigation\.scss}line{font-family:\0000350}}
.nav-item {
  padding: 0 10px;
  line-height: 50px;
}
