// *************************************
//
//   footer
//   -> This is an footer
//
// *************************************


.footer {
	background-color: #D7D4CD;
	color: #9C886D;
}

.footer-wrap {
	width: $l-maxWidth;
	margin: 0 auto;
	padding: 20px 0;
}