// *************************************
//
//   header
//   -> This is an header
//
// *************************************


.header {
	background-color: #fff;
}

.header-wrap {
	width: $l-maxWidth;
	margin: 0 auto;
}