// *************************************
//
//   utillities
//   -> This is an utillities
//
// *************************************

.mainContainer {
	width: $l-maxWidth - 20px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	@extend %group;
}

.mainColumn {
	float: left;
	width: $l-mainColumnWidth;
}

.subColumn {
	float: right;
	width: $l-subColumnWidth;
}