// *************************************
//
//   Application
//   -> MVCSS v3.0.2
//
// *************************************

// -------------------------------------
//   Compass
// -------------------------------------

@import "compass";

// -------------------------------------
//   base
// -------------------------------------

// ----- normalize ----- //

@import "base/normalize";

// ----- Settings ----- //

@import "base/settings";

$base-background: #F3F2EC;


// ----- Helpers ----- //

@import "base/helpers";

// ----- Base ----- //

@import "base/base";

// -------------------------------------
//   layout
// -------------------------------------

// ------ setting ------//

$l-mainColumnWidth: 670px;

@import "layout/footer";

@import "layout/header";

@import "layout/nav";

@import "layout/utilities";

// -------------------------------------
//   Modules
// -------------------------------------

// ------- setting -------//
$parallelList2-thumb: 60px;
$parallelList3-thumb: 60px;

@import "modules/layout";

@import "modules/content";

@import "modules/list";


