// *************************************
//
//   Application
//   -> MVCSS v3.0.2
//
// *************************************

// -------------------------------------
//   Compass
// -------------------------------------

@import "compass";

// -------------------------------------
//   base
// -------------------------------------

// ----- normalize ----- //

@import "base/normalize";

// ----- Settings ----- //

@import "base/settings";

$base-background: #F3F2EC;


// ----- Helpers ----- //

@import "base/helpers";

// ----- Base ----- //

@import "base/base";

// -------------------------------------
//   layout
// -------------------------------------

// ------ setting ------//

$l-mainColumnWidth: 660px;

@import "layout/footer";

@import "layout/header";

@import "layout/nav";

@import "layout/utilities";

// -------------------------------------
//   Modules
// -------------------------------------

// ------- setting -------//
$parallelList2-thumb: 60px;
$parallelList3-thumb: 60px;

@import "modules/layout";

@import "modules/content";

@import "modules/title";

@import "modules/list";

@import "modules/label";

@import "modules/decoration";


// ---------------------------------
//   Individual
//----------------------------------

.snapWrap {
	padding: 10px;
	border: $base-border;
	@include border-radius(4px);
	@extend %l-space;
}

.snapWrap-item {
	padding: 5px;
	border: $base-border;
	background-color: #fff;
	@extend .parallelList5;
}

.bannerBox {
	height: 100px;
	border: 1px solid #FF7979;
	text-align: center;
	background-color: #FCC9C9;
	@extend %l-space;
}