// *************************************
//
//   reset
//
// *************************************
// -------------------------------------
//   HTML5 display definitions
// -------------------------------------

// Correct `block` display not defined in IE 8/9.
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

// Correct `inline-block` display not defined in IE 8/9.
audio,
canvas,
video {
  display: inline-block;
}

// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
audio:not([controls]) {
  display: none;
  height: 0;
}

// Address `[hidden]` styling not present in IE 8/9.
// Hide the `template` element in IE, Safari, and Firefox < 22.
[hidden],
template {
  display: none;
}

// -------------------------------------
//   Base
// -------------------------------------

html{
  color: #000;
  font-size:62.5%;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
  margin: 0;
  padding: 0;
}

fieldset,img{
  border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var{
  font-style: normal;
  font-weight: normal;
}

li{
  list-style: none;
}

caption,th{
  text-align: left;
}

h1,h2,h3,h4,h5,h6{
  font-size: 100%;
  font-weight: normal;
}

q:before,q:after{
  content: '';
}

abbr,acronym{
  border: 0;
  font-variant: normal;
}

sup{
  vertical-align: text-top;
}

sub{
  vertical-align: text-bottom;
}

input,textarea,select{
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,textarea,select{
}

legend{
  color: #000;
}

article,aside,figure,footer,header,hgroup,nav,section{
  display:  block;
}

body{
}

select,input,button,textarea{
}

pre,code,kbd,samp,tt{
  font-family: monospace;
  line-height: 100%;
}

// -------------------------------------
//   table
// -------------------------------------

table{
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  font: 100%;
}
