// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Bucket
// -------------------------------------

.l-bucket {

}

// -------------------------------------
//   Card
// -------------------------------------

.l-card {

}

// -------------------------------------
//   Cell
// -------------------------------------

%l-cell, .l-cell {
  margin: 0 auto;
  max-width: rem($l-maxWidth);
  padding: 0 rem(60px);
}

// -------------------------------------
//   Grid
// -------------------------------------

.l-grid {

}

.l-grid-box {

}

// -------------------------------------
//   Row
// -------------------------------------

.l-row {

}

// -------------------------------------
//   Utilities
// -------------------------------------

%l-block, .l-block {
  display: block;
}

%l-condense, .l-condense {
  margin-bottom: rem($base-whitespace / 2);
}

%l-pullLeft, .l-pullLeft {
  float: left;
}

%l-pullRight, .l-pullRight {
  float: right;
}

%l-space, .l-space {
  margin-bottom: rem($base-whitespace);
}

%l-xspace, .l-xspace {
  margin-bottom: rem($base-whitespace * 2);
}

%l-autoHeight {
  height: 100%;
}

// -------------------------------------
//   layout
// -------------------------------------

.header {

}

.primaryNav {
	height: 50px;
	background: #ffb3b3;
	background: -moz-linear-gradient(top,  #ffb3b3 0%, #fda6a6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb3b3), color-stop(100%,#fda6a6));
	background: -webkit-linear-gradient(top,  #ffb3b3 0%,#fda6a6 100%);
	background: -o-linear-gradient(top,  #ffb3b3 0%,#fda6a6 100%);
	background: -ms-linear-gradient(top,  #ffb3b3 0%,#fda6a6 100%);
	background: linear-gradient(to bottom,  #ffb3b3 0%,#fda6a6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb3b3', endColorstr='#fda6a6',GradientType=0 );
}

.mainContainer {

}

