body {
  background-color: #f3f1ec;
}

body * {
  word-break: break-all;
  word-wrap: break-word;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none outside none;
}
